<main>
  <h1></h1>
  <img class="cube" src="">
  <div class="details">
    <p><span>Description:</span></p>
    <p><span>Difficulty level:</span></p>
    <a class="btn" href="/products">Back</a>
    
      <a class="btn" href="/products//attach">Attach</a>
      <a class="btn" href="/products//edit">Edit</a>
      <a class="btn" href="/products//delete">Delete</a>
    
  </div>
  <h2>Accessories</h2>
  <div class="accessories">

    
      <h3 class="italic">This cube has no accessories yet...</h3>
    
  </div>
</main>